name: Build-Test-Publish-Sign

on:
  push:
    branches:
      - master

permissions:
  contents: write
  id-token: write

jobs:
  ###########################################################################
  # 1. BUILD ARTIFACT (Maven package)
  ###########################################################################
  build-artifact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Maven deps
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: m2-${{ hashFiles('**/pom.xml') }}

      - name: Build JAR
        run: mvn clean package -DskipTests

      # Upload artifact for next jobs
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: signed-images-demo-app-jar
          path: target/*.jar
          if-no-files-found: 'error'


  ###########################################################################
  # 2. UNIT TESTS
  ###########################################################################
  unit-tests:
    runs-on: ubuntu-latest
    needs: build-artifact
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Run tests
        run: mvn test

  ###########################################################################
  # 3. DOCKER BUILD AND PUSH
  ###########################################################################
  docker-build:
    runs-on: ubuntu-latest
    needs: unit-tests
    steps:
      - uses: actions/checkout@v3

      - name: Download built JAR
        uses: actions/download-artifact@v4
        with:
          name: signed-images-demo-app-jar

      - name: Display structure of downloaded files
        run: ls -R

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Login to DockerHub
        uses: docker/login-action@v3.4.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - id: docker_meta
        uses: docker/metadata-action@v5.7.0
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/signed-images-demo
          tags: |
            type=raw,value=latest
            type=sha,format=long
            type=raw,value=${{ github.run_number }}

      - name: Build and Push container images
        uses: docker/build-push-action@v6.18.0
        id: build-and-push
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: .
          file: Dockerfile
          tags: ${{ steps.docker_meta.outputs.tags }}

      - name: Sign image with a key
        run: |
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST} "
          done
          cosign sign --yes --key env://COSIGN_PRIVATE_KEY ${images}
        env:
          TAGS: ${{ steps.docker_meta.outputs.tags }}
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}